---
---
<html lang='en' translate='no'>
<head>
    <meta charset='UTF-8'/>

    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="JBirding">
    <meta property="og:image" content="https://g4bc8210ff017d8-jbirding.adb.eu-madrid-1.oraclecloudapps.com/ords/jbirding/bird_photos/20230827_145529-Falco_tinnunculus-A-1017.JPG">
    <meta property="og:url" content="https://jbirding.com/">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <!--Fonts-->

    <script src="/scripts/script-home.js" type="module"></script>
    <noscript>
        <div id='noscript'>
            JavaScript is disabled in your browser. Please enable it to view this page.
        </div>
    </noscript>
    <title>JBirding</title>
    <meta name="description" content="Bird photography, always of wild specimens and with no intervention.">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/styles/style-general.css">
    <link rel="stylesheet" href="/styles/style-home.css">

</head>
<body>


{% include header_en.html home="active" %}



<main>
    <nav id='pagesMenu'>
        <div>
            <a href="/en/gallery"><div class="pageImageContent">
                <div class="imgContainer">
                    <div class="specialBg"></div>
                    <div class="imgBorder">
                        <img id="galleryImg" alt="">
                    </div>
                    <div class="star">&starf;</div>
                </div>
            </div></a>
            <p>Gallery</p>
        </div>
        <div>
            <a href="/en/about">
                <div class="pageImageContent">
                    <img src="/logos/J-pygargus/j-black-pygargus-shadow.png" alt="" id="aboutImg">
                </div>
            </a>
            <p>About</p>
        </div>
    </nav>

    <h1>Welcome!</h1>
    <p>Here you'll be able to find a wide array of bird photographs, always of wild specimens and respecting the natural environment.</p>
    <p>This is the second version of the site! The biggest change is the new gallery system.
        The new one makes instantaneous updates and faster loading possible. There are some photos missing, but I'll add them bit by bit.
        Besides, I've also changed the carousel animations and made some other minor styling tweaks to make the site look nicer.</p>
    <br>
    <p>If you have any comments or suggestions, you can contact me via Instagram or e-mail. Likewise, if you find any bugs in the site, I'd be grateful if you could let me know about them.</p>
    <p style="margin-bottom: 2em;text-align: center;">Thanks for visiting!</p>

</main>




{% include footer_en.html %}
</body>
</html>