---
---
<html lang='en' translate='no'>
<head>
    <meta charset='UTF-8'/>

    <!--Fonts-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <!--Fonts-->

    <script src="/scripts/general.js" type="module"></script>
    <noscript>
        <div id='noscript'>
            JavaScript is disabled in your browser. Please enable it to view this page.
        </div>
    </noscript>
    <title>Page Not Found</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/styles/style-general.css">
    <link rel="stylesheet" href="/styles/style-gallery.css">


</head>
<body>


{% include header_en.html %}



<main>
    <p style="font-size: 10em;font-weight: 900;margin: 0">404</p>
    <p style="font-size: 1.5em; margin: 10px">The requested page couldn't be found</p>
</main>




{% include footer_en.html %}
</body>
</html>