<footer>
  <link rel="stylesheet" href="/styles/style-footer.css">

  <hr>

  <div id="footerContents">
    <div id="footerMiddle">
      <nav id="footerNavigation">
        <a href="/en">Home</a> |
        <a href="/en/gallery">Gallery</a> |
        <a href="/en/about">About</a>
      </nav>
      <nav id="socials">
        <a href="https://instagram.com/_erithacus_rubecula" target="_blank"><img
                src="/other_assets/iconmonstr-instagram-11.svg"></a>
        <a href="mailto:contact@jbirding.com" target="_blank"><img
                src="/other_assets/iconmonstr-email-4.svg"></a>
      </nav>
      <div id='copyright'>© JBirding <span id="year">2024</span><br>All rights reserved.</div>
    </div>

    <div id="footerRight">
      <img id="footerLogo" src="/logos\J-pygargus\j-black-pygargus.png">
    </div>
  </div>

</footer>