
<header>
    <script>
        let theme = localStorage.getItem('theme');
        if(theme === 'dark-theme'){
            document.body.classList.add("dark-theme");
            document.body.classList.remove("light-theme");
        } else if(theme) {
            document.body.classList.add("light-theme");
            document.body.classList.remove("dark-theme");
        }

        const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
        if (prefersDarkScheme.matches && !theme) {
            document.body.classList.add("dark-theme");
            document.body.classList.remove("light-theme");
        } else if(!theme) {
            document.body.classList.add("light-theme");
            document.body.classList.remove("dark-theme");
        }
    </script>
    <link rel="stylesheet" href="/styles/style-header.css">
    <script src="/scripts/script-header.js" type="module"></script>

    <a href="/" tabindex="-1"><img id='logo' src='/logos/jbirding-birds.svg'></a>

    <div id="options">
        <div id="theme" tabindex="0"></div>
        <select id='language' title="Idioma">
            <option value="ES" selected>ES</option>
            <option value="EN">EN</option>
        </select>
    </div>
</header>



<nav id='pages'>
    <a id="homeLink" class="nav {{include.home}}" tabindex="0"
       {%unless include.home%}href="/"{%endunless%}>Inicio</a>
    <a id="galleryLink" class='nav {{include.gallery}}' tabindex="0"
       {%unless include.gallery%}href="/gallery"{%endunless%}>Galería</a>
    <a id="aboutLink" class='nav {{include.about}}' tabindex="0"
       {%unless include.about%}href="/about"{%endunless%}>Sobre mí</a>
</nav>